@charset "UTF-8";

body{
    font: Normal 20px Arial;
    background-color: #c1c1c1;
}

header#cabecalho{
    text-align: center;
    box-shadow: 1px 1px 5px black;
    padding: 15px;
    width: 600px;
    height: 400px;
    margin: 20px auto auto auto;
    background-color: white;
    border-radius: 5px
}

header#cabecalho img#casal{
    width: 400px;
    height: 280px;
}

section#entrar{
    position: absolute;
    top: 0px;
    margin: 20px auto auto 20px;
    width: 200px;
    padding: 5px;
    box-shadow: 1px 1px 5px black;
    background-color: white;
    border-radius: 3px;
    text-align: center;
}

section#entrar h1#divertir{
    font-size: 30px;
}

div#dica{
    color: red;
    font: bold 20px Arial;
}

div#login input{
    width: 150px;
}

section#campo{
    background-color: white;
    text-align: center;
    margin: 50px auto auto auto;
    padding: 20px;
    width: 800px;
    border-radius: 10px;
    box-shadow: 1px 1px 5px black;
}

section#campo h2{
    text-align: left;
}

footer{
    font: normal 13px Arial;
    text-align: center;
    border-top: 1px solid;
}