body{
    background-color: rgb(68, 112, 233);
    font: normal 15pt Arial;
}

header#titulo{
    text-align: center;
    color: white;
}

section#area{
    background-color: white;
    border-radius: 10px;
    padding: 15px;
    width: 500px;
    margin: auto;
    box-shadow: 4px 4px 10px rgba(0, 0, 0, 0.486);
}

footer#rodape{
    color: white;
    text-align: center;
    font-style: italic;
}

select#slcList{
    width: 130px;
    height: 200px;
}